/* background-color: #0c1825 !important; */
.section1{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}
.logo{
    border-radius: 50%;
    height: 3rem;
    width: 1.5rem;
}
.allIcon{
    height: 1.8rem;
    width: 1.8rem;
}
.section2{
    height:8rem;
    width: 95%;
    background-color: #0c1823;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}
.balancemenu{
    display: flex;
    gap: 1.8rem;
}
.balancemenu2{
    display: flex;
    gap: 7.4rem;
}
.eye{
    height: 1rem;
    width: 1rem;
    position: relative;
    right: 1.7rem;
    bottom: 0.3rem;
}
.addMoney{
    color: #0c1823;
    border: 0;
}
.section3{
    height: 5.7rem;
    display: flex;
    margin: auto;
    padding-right: 4%;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    width: 95%;
    background-color: #f5f7f9;
    box-shadow: 2rem;
}
.person,.bank,.arrow{
    height: 2.5rem;
    width: 2.5rem;
}
.edit{
    background-color: #0c1823;
    border-radius: 10px;
    color: white !important;
}
.section4{
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    padding-right: 4%;
    justify-content: center;
    /* gap: 1rem; */
    border-radius: 1rem;
    width: 95%;
    background-color: #f5f7f9;
    box-shadow: 2rem;
}
.sec4icons{
    height: 2rem;
    width: 2rem;
}

.sideNav{
    height: 100vh;
    min-width: 21% !important;
    background-color: rgb(12, 12, 56);
}
/* .dflex{
    display: flex;
    flex-direction: row;
} */
input{
    border-radius: 5px;
}
i{
    font-family: 'Times New Roman', Times, serif !important;
    color: rgb(2, 39, 2);
}
.profilePic{
    border-radius: 50% !important;
    height: 9rem !important;
    width: 9rem !important;
}
.nav-btn{
    background-color: rgb(12, 12, 56);
    border: thin solid white;
    border-radius: 0.4rem;
    color: white;
}
.content{
    display: block !important;
}
.dcard{
    color: white;
    width: 15rem;
    min-height: 2rem !important;
}
.card1{background-color: blue;}
.card2{background-color: purple;}
.card3{background-color: rgb(26, 25, 25);}
@media screen and (max-width:800px){
    /* .mainDiv{
        display: block;
    } */
    .profilePic{
        height: 5.5rem !important;
        width: 6rem !important;
    }
}
@media screen and (max-width:400px) {
    .balancemenu{
        gap: 0.2rem;
    }
    .balancemenu2{
        gap: 5.8rem;
    }
    .sec4icons{
        height: 1.2rem;
        width: 1.2rem;
    }
    .person,.bank,.arrow{
        height: 1.8rem;
        width: 1.8rem;
    }
}
@media screen and (max-width:350px) {
    .balancemenu{
        gap: 0rem;}
    .addMoney{
        padding: 1px 4px 1px 4px !important;
    }
    .bal{
        font-size: 1rem !important;
    }
    .person,.bank,.arrow{
        height: 1.2rem;
        width: 1.2rem;
    }
    .sec4icons{height: 1rem; width: 1rem;}
    .smallfont{font-size: 0.7rem;}
    .section4{gap: 0.5rem;}
}