*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden !important;
}
.bigHeading{
    color: #0c1825;
    font-size: 5rem;
}
ul{
    list-style-type: none;
}
.createAcct{
    background-color: #0c1825 !important;
    padding: 12px 18px 12px 18px;
    border: none;
    border-radius: 10.1px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.createAcct:hover{
    background-color: blue !important;
}
.mission{
    font-size: 1.4rem !important;
    line-height: 2rem !important;
}
.lady{
    height: 38rem;
    width: 32rem;
}
.apple{
    height: 1.5rem;
    width: 1.6rem;
}
.shield{
    height: 6rem;
    width: 6rem;
}
.fourways{
    color: #0c1825 !important;
}
.start{
    background-color: #0c1825;
    padding: 12px 30px 12px 30px;
    border-radius: 12px;
    border: none;
    color: white;
}
.start:hover{background-color: blue;}
.card{border-radius: 25px;min-height: 21rem !important;}
.feature{
    position: relative;
    top: 2rem;
    right: 3rem;
}
.card-img-top{
    width: 3rem;
    position: relative;
    right: 3.5rem;
}
.mobilee{
    width: 16rem;
    height: 34rem;
}
.access{font-size: 3.5rem;font-weight: bold;}
.rounded-pill{color: purple; background-color: rgb(238, 224, 238);}
.learnMore{color: purple}
.bg-info{background-color: #0d60d8 !important;}
.saver{font-size: 3.5rem !important;}
.socials{height: 1.5rem; width: 1.5rem !important; margin: 0;}
.socialsCont{display: flex;}

@media screen and (max-width:700px) {
    *{overflow-x: hidden !important;}
    .lady{
        width:99% !important;
        height: 34rem;
        display: block;
        margin: auto !important;
    }
    .card{
        margin-bottom: 3rem;
        width: 90% !important;
        margin: auto;
        margin-bottom: 2rem;
        min-height: 21rem !important;
    }
    .card-body,.card-img-top{text-align: center; margin: auto;;}
    .feature{top: 3rem;left: 0.5rem !important;}
    .apple{position: relative;bottom: 7px;}
    .card-img-top,.feature{position: relative;left: -1rem;}
    .fff{display: none;}
    .mobilee{margin: auto;}
    .rounded-pill,.learnMore{display: block; margin: auto;}
    .access{font-size: 2rem; text-align: center;left: 1rem;}
    .meet,.featuredIn{display: flex; flex-direction: column; justify-content: center; text-align: center;}
    .saver{font-size: 2.5rem !important;}
    .happyMan{width: 100%;margin: auto}
    .btnDuo{display: flex; justify-content: center;}
    .iphone2{position: relative; left: 0rem; padding: 8px 7px 8px 7px !important;}
    .w-100{width: 40% !important;}
    .w-50{width: 20% !important; border-radius: 5px;}
    .ndpr{width: 5rem;}
    
    /* .listCont{display: flex; justify-content: space-evenly;} */
}
@media screen and (max-width:1050px) {
    .col-md-10{
        text-align: center !important;
    }
    .iphone{
        position: relative;
        right: 3.3rem;
    }
    .bigHeading,.pe-lg-5,.createAcct{
        position: relative;
        right: 3.75rem;
    }
    .bigHeading{font-size: 2.9rem;padding-right: 0.9rem;}
    .mission{
        padding-right: 1.6rem;
    }
    .d-lg-none{
        position: relative;
        left: 5rem;
    }
}
@media screen and (min-width: 990px) {
    .cardcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .happyMan{height: 33rem; width: 35rem;}
}
@media screen and (max-width: 359px) {
    .bigHeading{
        font-size: 2.2rem !important;
    }
    .mobilee{
        position: relative;
        right: 2rem;
        height: 30rem;
        width: 14rem;
    }
}