.body{
    background-image: url('../Assets/background.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
input{
    background-color: rgb(230, 227, 227) !important;
    border: none !important;
}
.inputCon{
    background-color: white;
    border-radius: 1rem;
    min-height: 68vh;
}
input{
    border: thin solid black !important;
    color: black;
    width: 95% !important;
    font-size: 1.5rem;
}
h5{
    font-size: 2.5rem !important;
    color: rgb(31, 31, 160)#0c1825;
}
/* button:disabled{
    opacity: 0.35 !important;
} */
.userLogin{
    background-color: #0c1825;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
}

input.input-error,select.input-error{
    border-color: rgb(141, 5, 5);
}
.brandname{
    position: relative;
    right: 0.5rem;
    top: 1.4rem !important;
    font-size: 1.6rem;
}

@media screen and (max-width: 650px) {
    .inputCon{
        width: 95%; 
        min-height: 50vh;
    }
    .userLogin:hover{
        opacity: 0.5 !important;
    }
}