.body{
    background-image: url('../Assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: hidden !important;
}
input{
    background-color: rgb(252, 251, 251) !important;
}
.inputCont{
    background-color: white;
    border-radius: 1.5rem;
    min-height: 85vh;
}
input{
    border: thin solid black !important;
    color: black;
    width: 95% !important;
    font-size: 1.5rem;
}
h3{
    font-size: 2.5rem !important;
    color: rgb(31, 31, 160);
}
.error{
    color: rgb(141, 5, 5);
    font-weight: bold;
    font-size: 1rem;
}
input.input-error,select.input-error{
    border-color: rgb(141, 5, 5);
}

@media screen and (max-width: 600px) {
    .inputCont{
        width: 95%; 
        min-height: 65vh;
    }
    .form-control{
        border: none !important;
        border-bottom: 2px solid black !important;
        border-radius: 0.3rem;
        background-color: rgb(248, 246, 246) !important;
        width: 80% !important;
    }
}
@media screen and (max-width: 370px) {
    .userLogin{
        font-size: 1rem !important ;
    }
    .firstname{
        margin-top: -0.8rem !important;
    }
}